version: "3.3"

networks:
  coart:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  typesense_data:
    driver: local

services:

  postgres:
    container_name: postgres
    image: postgres
    user: root
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - coart

  typesense:
    image: typesense/typesense:29.0
    container_name: typesense
    restart: always
    ports:
      - "8108:8108"
    environment:
      TYPESENSE_API_KEY: ${TYPESENSE_API_KEY}
    volumes:
      - typesense_data:/data
    command: '--data-dir /data --client-be-key=${TYPESENSE_API_KEY} --enable-cors'
    networks:
      - coart

  besu:
    container_name: besu
    user: root
    restart: "on-failure"
    image: hyperledger/besu:25.11.0
    environment:
      BESU_GENESIS_FILE: /var/lib/besu/genesis.json
      BESU_DATA_PATH: /var/lib/besu
      BESU_HOST_ALLOWLIST: "*"
      BESU_RPC_WS_ENABLED: "true"
      BESU_RPC_WS_HOST: 0.0.0.0
      BESU_RPC_HTTP_HOST: 0.0.0.0
      BESU_RPC_HTTP_ENABLED: "true"
      BESU_RPC_HTTP_CORS_ORIGINS: "*"
      BESU_RPC_HTTP_API: "ADMIN,ETH,NET,WEB3,MINER,IBFT"
      BESU_RPC_WS_API: "ADMIN,ETH,NET,WEB3,MINER,IBFT"
      BESU_MINER_ENABLED: "true"
      BESU_MINER_COINBASE: fe3b557e8fb62b89f4916b721be55ceb828dbd73
    volumes:
      - ${BASE_PATH}/besu:/var/lib/besu
      - ${BASE_PATH}/genesis.json:/var/lib/besu/genesis.json
    ports:
      - "8545:8545"
      - "8546:8546"
      - "8547:8547"
      - "30303:30303"
    networks:
      - coart

  explorer:
    container_name: explorer
    restart: "on-failure"
    image: alethio/ethereum-lite-explorer
    environment:
      APP_NODE_URL: "${JSON_RPC_ADDR_BESU}"
    ports:
      - "${PORT_EXPL_API}:80"
    depends_on:
      - besu
    networks:
      - coart
